# npm dependencies
node_modules/*

# stored documents
 docStorage

# packaged application (end-user)
DocWave-darwin-x64
DocWave-linux-x64
DocWave-darwin-x64-ZIP-+-DMG

# front-end build
build

# bower
bower_components
