# npm dependencies
 node_modules/*

!node_modules/material-ui/*

# stored documents
 docStorage

# packaged application (end-user)
DocWave-darwin-x64

# front-end build
build

# bower
bower_components
