# npm dependencies
node_modules/*

# stored documents
docStorage

# packaged application (end-user)
DocWave-OSX-x64.dmg
DocWave-OSX-x64/
DocWave-OSX-x64.zip
DocWave-OSX.dmg
DocWave-Linux-x64.zip
DocWave-linux-x64/
DocWave-darwin-x64-ZIP-+-DMG

# front-end build
build

# bower
bower_components
