<html>

	<head>
		<title>Doc-tor</title>
		<link rel="stylesheet" href="css/photon.css">
	</head>

	<body>
		<!-- window is essentially the body, but utilizes flexbox -->
		<div class="window">
			<!-- Your app's content goes inside .window-content -->
			<div class="window-content">
				<div class="pane-group">
					<!-- sidebar is... the sidebar -->
					<div class="pane pane-sm sidebar">
						<ul class="list-group">
							<li class="list-group-header">
								<input class="form-control" type="text" placeholder="Search documentation">
							</li>
							<nav class="nav-group">
								<!-- nav-group-title -->
								<h5 class="nav-group-title">Favorites</h5>
								<span class="nav-group-item">
                  <span class="icon icon-right-dir"></span> Node
								</span>
								<span class="nav-group-item active">
                  <span class="icon icon-right-dir"></span> CSS3
								</span>
								<span class="nav-group-item">
                  <span class="icon icon-right-dir"></span> HTML5
								</span>
							</nav>
							<nav class="nav-group">
								<!-- nav-group-title -->
								<h5 class="nav-group-title">Downloadable</h5>
								<span class="nav-group-item">
                  <span class="icon icon-down-dir"></span> Electron
								</span>
							</nav>
					</div>

					<div class="pane">
						<div class="tab-group">
							<div class="tab-item active">
								<span class="icon icon-cancel icon-close-tab"></span> Node
							</div>
							<div class="tab-item">
								<span class="icon icon-cancel icon-close-tab"></span> CSS3
							</div>
							<div class="tab-item tab-item-fixed">
								<span class="icon icon-plus"></span>
							</div>
						</div>

						<iframe src="http://www.google.com" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
    				</iframe>


						<!-- <button id='testButton' style="border-radius: 15px; padding: 10px; background: #1A66ED; color: white; margin-left: 35%; margin-top: 25%">REQUEST DOCUMENTATION</button> -->

					</div>
				</div>
			</div>
			<!-- <footer class="toolbar toolbar-footer">
				<div class="toolbar-actions">
					<button class="btn btn-default">Cancel</button>
					<button class="btn btn-primary pull-right">Save</button>
				</div>
			</footer> -->
		</div>
	</body>
	<!-- <script src="build/bundle.js"></script> -->

	<script>
		'use strict'
		const path = require("path");
		const fs = require('fs')
		const request = require('request')
		const yauzl = require("yauzl");
		const mkdirp = require("mkdirp");

		const testURL = '192.168.1.18'
		const testEndPoint = 'http://' + testURL + ':3000/node/'

		document.getElementById('testButton').addEventListener('click', (event) => {
			//request folder
			let file = 'docStorage/test.zip';
			let location = 'docStorage/';
			//unzip the folder and place it somewhere
			unZipThisFile(file, location)
		})

		// function to unzip and place file somewhere
		function unZipThisFile(fileToUnzip, locationToPlaceUnZippedFiles) {
			yauzl.open(fileToUnzip, {
				lazyEntries: true
			}, function(err, zipfile) {
				if (err) throw err;
				zipfile.readEntry();
				zipfile.on("entry", function(entry) {
					if (/\/$/.test(locationToPlaceUnZippedFiles + entry.fileName)) {
						// directory file names end with '/'
						mkdirp(locationToPlaceUnZippedFiles + entry.fileName, function(err) {
							if (err) throw err;
							zipfile.readEntry();
						});
					} else {
						// file entry
						zipfile.openReadStream(entry, function(err, readStream) {
							if (err) throw err;
							// ensure parent directory exists
							mkdirp(locationToPlaceUnZippedFiles + path.dirname(entry.fileName), function(err) {
								if (err) throw err;
								readStream.pipe(fs.createWriteStream(locationToPlaceUnZippedFiles + entry.fileName));
								readStream.on("end", function() {
									zipfile.readEntry();
								});
							});
						});
					}
				});
			});
		}
	</script>

</html>
