<html>

	<head>
		<title>Doc-tor</title>
		<link rel="stylesheet" href="css/photon.css">
	</head>

	<body>
		<!-- window is essentially the body, but utilizes flexbox -->
		<div class="window">
			<!-- Your app's content goes inside .window-content -->
			<div class="window-content">
				<div class="pane-group">
					<!-- sidebar is... the sidebar -->
					<div class="pane pane-sm sidebar">
						<ul class="list-group">
							<li class="list-group-header">
								<input class="form-control" type="text" placeholder="Search Documentation">
							</li>
							<nav class="nav-group">
								<!-- nav-group-title -->
								<h5 class="nav-group-title">Favorites</h5>
								<div id="node_all">
									<span id="node_arrow" class="nav-group-item active">
	                  <span class="icon icon-down-dir"></span> Node
									</span>
									<ul id="node_items">
										<li class="node_doc" data='../docStorage/node.docs/documents/assert.html' style="margin-left: 20px">Assert</li>
										<li class="node_doc" data='../docStorage/node.docs/documents/cluster.html' style="margin-left: 20px">Cluster</li>
										<li class="node_doc" data='../docStorage/node.docs/documents/fs.html' style="margin-left: 20px">File System</li>
										<li class="node_doc" data='../docStorage/node.docs/documents/buffer.html' style="margin-left: 20px">Buffer</li>
										<li class="node_doc" data='../docStorage/node.docs/documents/console.html' style="margin-left: 20px">Console</li>
										<li class="node_doc" data='../docStorage/node.docs/documents/dns.html' style="margin-left: 20px">DNS</li>
									</ul>
								</div>
							</nav>



							<nav class="nav-group">
								<!-- nav-group-title -->
								<h5 class="nav-group-title">Downloadable</h5>
								<span class="nav-group-item">
                  <span class="icon icon-right-dir"></span> Electron
								</span>
								<span class="nav-group-item">
                  <span class="icon icon-right-dir"></span> CSS3
								</span>
								<span class="nav-group-item">
                  <span class="icon icon-right-dir"></span> HTML5
								</span>
							</nav>
					</div>

					<div class="pane">
						<div class="tab-group">
							<div class="tab-item active">
								<span class="icon icon-cancel icon-close-tab"></span> Cluster
							</div>
							<div class="tab-item">
								<span class="icon icon-cancel icon-close-tab"></span> FS
							</div>
						</div>

						<iframe
							id="doc_frame"
							src="../docStorage/node.docs/documents/cluster.html"
							height="100%"
							width="100%"
							frameborder=0
							seamless="seamless">
						</iframe>

						<!-- test buttons for requesting zip file and unzipping it locally -->
						<!-- <button id='request' style="border-radius: 15px; padding: 10px; background: #1A66ED; color: white; margin-left: 35%; margin-top: 25%">REQUEST </button>
						<button id='unzip' style="border-radius: 15px; padding: 10px; background: #1A66ED; color: white; margin-left: 35%; margin-top: 25%">UNZIP</button> -->

					</div>
				</div>
			</div>
			<!-- <footer class="toolbar toolbar-footer">
				<div class="toolbar-actions">
					<button class="btn btn-default">Cancel</button>
					<button class="btn btn-primary pull-right">Save</button>
				</div>
			</footer> -->
		</div>
	</body>
	<!-- <script src="build/bundle.js"></script> -->
	<script src="view.js"></script>
</html>
