<!DOCTYPE html>
<html>
<head>
	<style>
	body {
		background-color: #3498db;
		background-image: url('wave.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
	}
	.center {
		padding: 25px;
		background-color: rgba(42, 62, 80, 0.8);
		text-align: center;
		margin-top: 20%;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	h1, h3 {
		font-family: 'Montserrat', 'Helvetica Nueu', 'Helvetica';
	}
	p {
		font-size: 18px;
		font-family: monospace;
	}
	</style>
</head>

<body>
	<div class="center">
	<h1>Welcome to DocWave!<h1>
	<h3>An Offline JavaScript Documentation Repository</h3>
	<p>Scroll through the left sidebar to the documentation you would<br>like to access, then click to create a new tab.</p>
	</div>
</body>

</html>
